.html {
  background-image: url(../img/pattern.jpg);
}
.container {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    height: max-content;
    margin-left: 200px;
  }

  footer{
      background-color: black;
      color: white;
      text-align: center;
      padding-top: 1px;
      margin-top: 50px;
      height: 60px;
      width: 100%;
      /* position: fixed; */
  }

  .foot{
    background-color: black;
      color: white;
      text-align: center;
      padding-top: 3px;
      margin-top: 50px;
      height: 25px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    /* position: fixed; */
    width: 100%;
    margin-bottom: 10px;
  }
  
  .topnav a {
    float: right;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }